
<!DOCTYPE html>
<html>
    <head>
        <title>MOVES Planning Data Input Form</title>
       
    </head>
<body>
	<h1>MOVES Planning Data Input Form</h1>
	
	<!-- <iframe src="https://unfoldeddev.static.observableusercontent.com/next/worker-00838639.html" 
	  style="width: calc(100% + 28px); margin: 0px -14px; border: none; height: 5115px;">
	<script>import {unfoldedMap} from "@unfoldeddev/map-layers"</script>
	</iframe> -->
	

	<script src="https://unpkg.com/@unfolded.gl/studio@latest/dist/studio.js">
		const studio = new UnfoldedStudio();
	</script>

	
</body>
</html>
